::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}
#barra01{
    background: #05497a !important;
}
#seccion0{
    background: url("imagenes/1000.jpg") no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    font-size:cover !important;
    margin-top: 3.9rem;
    padding-right: 0;
    padding-left: 0;
    padding-top: 1.5rem;
    border: 0px solid yellow;

}

#blog {
    border: 1px solid white;
    padding:  3rem;
    backdrop-filter: blur(5px) brightness(140%);
    margin-top: 3rem;
    text-shadow: -4px 10px 5px rgba(0,0,0,0.44);
    margin-top: 27vh;
}

#blog *{
    position: relative;
}
#seccion1 {
    color: white;
    border: 0px solid red;
    padding-top: 7rem;
    padding-bottom: 1rem;
    height: 100vh;
    background: url('imagenes/descarga0.jpg') no-repeat center center fixed;
    background-size: cover;
}
.card-text {
    color: white;
}

.card {
    position: relative;
    width: 20rem;
    margin: 0.5rem;
    cursor: pointer;
    transform: scale(0.95);

    -webkit-box-shadow: 0 0px 0px 0px #8C8C8C;
    box-shadow: 0 0px 0px 0px #8C8C8C;

    -webkit-transition: all 600ms ease-out;
    -moz-transition: all 600ms ease-out;
    -ms-transition: all 600ms ease-out;
    -o-transition: all 600ms ease-out;
    transition: all 600ms ease-out;
}
.card-body {
    height: 10rem;
}
.card:hover{
    transform: scale(1);
    
    -webkit-box-shadow: 0 6px 9px -3px #8C8C8C;
    box-shadow: 0 6px 9px -3px #8C8C8C;

    -webkit-transition: all 600ms ease-out;
    -moz-transition: all 600ms ease-out;
    -ms-transition: all 600ms ease-out;
    -o-transition: all 600ms ease-out;
    transition: all 600ms ease-out;
}


.card-img-top {
    height: 16vw;
    font-size: cover;
    /* object-fit: cover; */
}

.card.bg-danger {
    border: none;
    background: #8C8C8C !important;
}

.card-footer.bg-danger {
    border-top: 1px solid #515A5A !important;
}

.card-footer h7{
    color: white !important;
}


#seccion1 .container {
    width: fit-content;
    padding: 1rem;
    padding-top: 0;
}

#seccion2 {
    border: 0px solid blue;
    padding-top: 7rem;
    padding-bottom: 1rem;
    background: url('imagenes/Fondo01.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

#seccion2 .container {
    width: fit-content;
    padding: 1rem;
    padding-top: 0;
}

#seccion3 {
    background: url("imagenes/gif.gif") no-repeat center center fixed;
    background-size: cover;
    font-size: cover;
    padding-top: 7rem;
    padding-bottom: 1rem;
    height: 100vh;
}
#seccion3 .container {
    padding: 1rem;
    padding-top: 0;
    width: 66rem;
}
.circulo {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: 1px solid;
    padding: 0.5rem;
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem;
    text-decoration: none;
    color: white;

    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

a.circulo:hover {
    color: white;
    transform: scale(1.1);
    filter: brightness(115%);
}

.facebook {
    background: #3b5998;
}

.instagram {
    background: #125688;
}

.twitter {
    background: #55acee;
}

.whatsapp {
    background: #00bb2d;
}

.yuotube {
    background: #b00;
}

.redes {
    border: 0px solid white;
    width: fit-content;
}

form {
    width: 32rem;
    margin-top: 1rem;
}

.navbar {
    /* border: 1px solid blue; */
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    
}

.barra-progreso {
    padding: 0;
    margin: 0;
    top: 3.45rem;
    border: none;
}

.progreso {
    background-color: #1561B6;
    padding: 0;
    margin: 0;
    width: 25vw;
    height: 0.5rem;
}

.progreso.active {
    background-color: white;
}
.container h5 span.text-white {
    border: 0px solid magenta;
    text-shadow: -4px 10px 5px rgba(0,0,0,0.44);
}
.efecto {
     position: relative;
     filter: opacity(0%);
     -webkit-transition: all 600ms ease-out;
     -moz-transition: all 600ms ease-out;
     -ms-transition: all 600ms ease-out;
     -o-transition: all 600ms ease-out;
     transition: all 600ms ease-out;
}


.e-derecha {
     right: -100px;
}


.e-izquierda {
    left: -100px;
}

.e-arriba {
    top: -100px;
}

.e-abajo {
    bottom: -100px;
}

.d0 {
    -webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-ms-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
transition: all 400ms ease-out;
}


.d100 {
    -webkit-transition: all 400ms ease-out 100ms;
-moz-transition: all 400ms ease-out 100ms;
-ms-transition: all 400ms ease-out 100ms;
-o-transition: all 400ms ease-out 100ms;
transition: all 400ms ease-out 100ms;
}

.d200 {
    -webkit-transition: all 400ms ease-out 200ms;
-moz-transition: all 400ms ease-out 200ms;
-ms-transition: all 400ms ease-out 200ms;
-o-transition: all 400ms ease-out 200ms;
transition: all 400ms ease-out 200ms;
}

.d300 {
    -webkit-transition: all 400ms ease-out 300ms;
-moz-transition: all 400ms ease-out 300ms;
-ms-transition: all 400ms ease-out 300ms;
-o-transition: all 400ms ease-out 300ms;
transition: all 400ms ease-out 300ms;
}

.d400 {
    -webkit-transition: all 400ms ease-out 400ms;
-moz-transition: all 400ms ease-out 400ms;
-ms-transition: all 400ms ease-out 400ms;
-o-transition: all 400ms ease-out 400ms;
transition: all 400ms ease-out 400ms;
}

.d500 {
    -webkit-transition: all 400ms ease-out 500ms;
-moz-transition: all 400ms ease-out 500ms;
-ms-transition: all 400ms ease-out 500ms;
-o-transition: all 400ms ease-out 500ms;
transition: all 400ms ease-out 500ms;
}